<!-- about-style-six -->
    <section class="about-style-six">
        <div class="pattern-layer" style="background-image: url(./static/images/shape/shape-52.png);"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box">
                        <figure class="image"><img src="{{ url_for('static', filename='images/resource/about-4.png')}}" alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content_block_13">
                        <div class="content-box">
                            <div class="sec-title style-two">
                                <h5>¿Qué es un modelo conversacional textual?</h5>
                                <h2>Información y recomendaciones oportunas para personas que presenten un posible contagio de Covid-19</h2>
                                <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
                            </div>
                            <div class="text">
                                <p>Son programas diseñados para tener conversaciones textuales con las personas 
                                    y que esta sea lo más natural posible asemejándose a una conversación normal entre humanos.</p>
                            </div>
                            <div class="inner-box">
                                <div class="single-item">
                                    <div class="icon-box"><i class="flaticon-microphone"></i></div>
                                    <h5>Contexto conversacional</h5>
                                    <p>Capacidad de situarse en contexto de la conversación.</p>
                                </div>
                                <div class="single-item">
                                    <div class="icon-box"><i class="flaticon-font"></i></div>
                                    <h5>Memoria conversacional</h5>
                                    <p>Soportar cambio de situaciones sin olvidar información de contextos anteriores .</p>
                                </div>
                            </div>
                            <!--<div class="btn-box">
                                <a href="contact.html" class="theme-btn btn-seven">Learn More</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- about-style-six end -->