<!-- banner-section -->
<section class="banner-style-six">
    <div class="pattern-layer" style="background-image: url(./static/images/shape/shape-50.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image image-1"><img src="{{ url_for('static', filename='images/banner/banner-11.png')}}" alt=""></figure>
                    <figure class="image image-2"><img src="{{ url_for('static', filename='images/banner/banner-12.png')}}" alt=""></figure>
                    <figure class="image image-3"><img src="{{ url_for('static', filename='images/banner/banner-13.png')}}" alt=""></figure>
                    <figure class="image image-4 wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms')}}"><img src="{{ url_for('static', filename='images/icons/chat-1.png')}}" alt=""></figure>
                    <figure class="image image-5"><img src="{{ url_for('static', filename='images/banner/banner-14.png')}}" alt=""></figure>
                    <figure class="image image-6 wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="{{ url_for('static', filename='images/icons/chat-2.png')}}" alt=""></figure>
                    <figure class="image image-7"><img src="{{ url_for('static', filename='images/banner/banner-15.png')}}" alt=""></figure>
                    <figure class="image image-8 float-bob-y"><img src="{{ url_for('static', filename='images/banner/banner-16.png')}}" alt=""></figure>
                    <figure class="image image-9 wow zoomIn animated" data-wow-delay="300ms" data-wow-duration="1500ms"><img src="{{ url_for('static', filename='images/icons/chat-3.png')}}" alt=""></figure>
                    <figure class="image image-10 float-bob-y" data-wow-duration="1500ms"><img src="{{ url_for('static', filename='images/banner/banner-17.png')}}" alt=""></figure>
                    <figure class="image image-11 float-bob-y" data-wow-duration="1500ms"><img src="{{ url_for('static', filename='images/icons/icon-20.png')}}" alt=""></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <h2>Modelo Conversacional Textual para Personas con Covid-19</h2>
                    <p>Un modelo conversacional basado en Machine Learning adecuado para el análisis e interpretación 
                        del lenguaje textual usando terminologías acerca del covid-19 </p>
                    <div class="btn-box">
                        <a href="team.html" class="theme-btn btn-ten">Pruébalo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->