<!-- benefits-section -->
<section class="benefits-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_14">
                    <div class="content-box">
                        <div class="sec-title style-two">
                            <h5>BENEFICIOS</h5>
                            <h2>El objetivo es brindar beneficios como: </h2>
                            <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
                        </div>
                        <div class="inner-box">
                           <!-- <div class="single-item">
                                <div class="icon-box"><i class="flaticon-productivity"></i></div>
                                <h4><a href="index-6.html">La conveniencia</a></h4>
                                <p>Suministrar información adecuada, prácticas y recomendar hábitos saludables.</p>
                            </div>-->
                            <div class="single-item">
                                <div class="icon-box"><i class="flaticon-sales"></i></div>
                                <h4><a href="index-6.html">Relevancia Social</a></h4>
                                <p>Un modelo NLP en conversaciones textuales busca nuevas formas de unir la ciencias informáticas a la medicina.</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="flaticon-customer-service"></i></div>
                                <h4><a href="index-6.html">Valor teórico </a></h4>
                                <p>El modelo de conversaciones textuales podrá ser 
                                    usado e incluso optimizado para los diversos propósitos ya sea en
                                    investigaciones o proyectos futuros.</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="flaticon-productivity"></i></div>
                                <h4><a href="index-6.html">Utilidad </a></h4>
                                <p>Asistencia y ayuda antes la aparición de sintomatología relacionada al Covid-19.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image clearfix"><img src="{{ url_for('static', filename='images/resource/dashboard-7.png')}}" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- benefits-section end -->