<section class="contact-style-two sec-pad centred">
    <div class="pattern-layer" style="background-image: url(http://localhost:5000/static/images/shape/shape-68.png);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_10">
                    <div class="content-box">
                        <div class="sec-title style-two">
                            {% if dataset == "sintomas" %}
                                <h5>Síntomas</h5>
                                <h2>Nos encantaría saber que síntomas padeces</h2>
                            {% else %}
                                <h5>Recomendaciones</h5>
                                <h2>Nos encantaría saber que recomendaciones seguistes</h2>
                            {% endif %}
                            <div class="divider" style="background-image: url(http://localhost:5000/static/images/icons/divider-1.png);"></div>
                        </div>
                        <form onsubmit="event.preventDefault()" class="default-form" name="myForm">
                            <div class="form-group">
                                <textarea name="entrada" id="myTextarea" placeholder="Escriba aqui..."></textarea>
                            </div>
                            <div class="form-group message-btn">
                                {% if dataset == "sintomas" %}
                                    <button onclick="clasificadorModelo('rf', 'sintomas')" class="theme-btn btn-nine">Enviar Síntomas</button>
                                {% else  %}
                                    <button onclick="clasificadorModelo('rf',  'recomendaciones')" class="theme-btn btn-nine">Enviar Recomendaciones</button>
                                {% endif %}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box">
                    <figure class="image js-tilt"><img src="http://localhost:5000/static/images/resource/skills-1.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>  
</section>
<section>
    <div class="auto-container">
        <div class="row clearfix" id="sintomas" style="margin-top: 2%;">
        </div>
    </div> 
</section>

<!-- contact-style-two end -->
