<section class="works-style-two centred bg-color-1" onload="script();">
    <div class="pattern-layer" style="background-image: url(http://localhost:5000/static/images/shape/shape-13.png);"></div>
    <div style="margin-left: 8rem;margin-right: 8rem;" >
      <div class="inner-container">
        <div class="sec-title style-two">
            <div class="divider" style="background-image: url(http://localhost:5000/static/images/icons/divider-1.png);"></div>
            <h2 style="color: #002a7d !important">Curva de ROC</h2>
            <div class="divider" style="background-image: url(http://localhost:5000/static/images/icons/divider-1.png);"></div>
        </div>
      </div>
    </div>
    <div style="margin-top: 3%;">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 image-column">
              <div class="image-box" style="text-align: center;">
                  <figure class="image image-10  float-bob-y" data-wow-duration="1500ms"><img style="width: 45%;" src="{{ url_for('static', filename='images/curvarocRecomendaciones.jpeg')}}" alt=""></figure>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 3%; margin-left: 8rem;margin-right: 8rem;" >
      <div class="inner-container">
        <div class="sec-title style-two">
            <div class="divider" style="background-image: url(http://localhost:5000/static/images/icons/divider-1.png);"></div>
            <h2 style="color: #002a7d !important">Matriz de Confusión</h2>
            <div class="divider" style="background-image: url(http://localhost:5000/static/images/icons/divider-1.png);"></div>
        </div>
      </div>
    </div>
    <div style="margin-top: 3%;">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 image-column">
              <div class="image-box" style="text-align: center;">
                  <figure class="image image-10  float-bob-y" data-wow-duration="1500ms"><img style="width: 85%;" src="{{ url_for('static', filename='images/matriz-confusionRecomendaciones.jpeg')}}" alt=""></figure>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>