<!doctype html>
<html>
  <head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!-- Fav Icon -->
        <link rel="icon" href="{{ url_for('static', filename='images/favicon-3.ico') }}" type="image/x-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- Stylesheets -->
        <link href="{{ url_for('static', filename='css/font-awesome-all.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/flaticon.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/owl.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">
        <title>MODELO CONVERSACIONAL</title>
    {% endblock %}
  </head>
  <body >
    <div class="boxed_wrapper">
        <div id="loading">{% block loading %}{% endblock %}</div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
          {% block footer %}
            <!-- main-footer -->
                <footer class="main-footer footer-style-six">
                    <div class="pattern-layer" style="background-image: url(http://localhost:5000/static/images/shape/shape-60.png);"></div>
                    <div class="auto-container">
                        <div class="footer-top-two">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                    <div class="logo-box pull-left">
                                        <figure class="logo"><a href="index-2.html"><img src="{{ url_for('static', filename='images/UGlogo.png')}}" alt=""></a></figure>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                    <div class="footer-widget contact-widget">
                                        <div class="widget-title">
                                            <h3>Información</h3>
                                        </div>
                                        <div class="widget-content">
                                            <ul class="info-list clearfix">
                                                <li>
                                                    <h4>Ubicación </h4>
                                                    <p>Facultad de Ciencias Matemáticas y Físcas</p>
                                                    <p>Victor Manuel Rendón, Guayaquil 090313</p>
                                                </li>
                                                <li>
                                                    <h4>Teléfono</h4>
                                                    <p><a href="tel:(04) 228-4505"> (04) 228-4505</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                    <div class="footer-widget contact-widget">
                                        <div class="widget-title">
                                            <h3>Carreras</h3>
                                        </div>
                                        <div class="widget-content">
                                            <ul class="info-list clearfix">
                                                <li>
                                                    <p>Ingeniería de Software</p>
                                                    
                                                </li>
                                                <li>
                                                    <p>Ingeniería en Tecnología de la Información</p>
                                                    
                                                </li>
                                                <li><p>Ingeniería Cívil</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                    <div class="logo-box pull-left" >
                                        <figure class="logo"><a href="index-2.html"><img style="padding-top: 16%;" src="{{ url_for('static', filename='images/Facultad.png')}}" alt=""></a></figure>
                                    </div>
                                    <!--<div class="footer-widget about-widget">
                                        <div class="text">
                                            <h3>Book a Demo</h3>
                                            <p>We will likely assistance organizations keep up accomplish best class positions their separate enterprises & our group works happen that delights need to be disavowed.</p>
                                        </div>
                                        <div class="btn-box">
                                            <a href="index-6.html">More About</a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="bottom-inner">
                                <figure class="footer-logo"><a href="index-6.html"><img src="{{ url_for('static', filename='images/footer-logo-3.png')}}" alt=""></a></figure>
                                <div class="copyright">
                                    <p>Copyright &copy; <a href="index-2.html">Modelo Conversacional - 2022 </a>, Reservados todos los derechos.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="https://www.facebook.com/UdeGuayaquil"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/udeguayaquil?lang=es"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/universidad_guayaquil/?hl=es"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            <!-- main-footer end -->
            <!-- scroll to top -->
                <button class="scroll-top style-two scroll-to-target" data-target="html">
                    <i class="fas fa-angle-up"></i>
                </button>
          {% endblock %}
        </div>
    </div>
    <!-- jequery plugins -->
    
    <script src="{{ url_for('static', filename='js/apis.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/owl.js')}}"></script>
    <script src="{{ url_for('static', filename='js/wow.js')}}"></script>
    <script src="{{ url_for('static', filename='js/validation.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.js')}}"></script>
    <script src="{{ url_for('static', filename='js/appear.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scrollbar.js')}}"></script>
    <script src="{{ url_for('static', filename='js/tilt.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/isotope.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bxslider.js')}}"></script>
    <!-- main-js -->
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    
  </body>
</html>