<!-- service-style-six -->
<section class="service-style-six">
    <div class="auto-container">
        <div class="sec-title style-two centred">
            <h5>Acerca de este proyecto</h5>
            <h3>Fue diseñado con el objetivo de evaluar la eficacia de análisis de tratamiento de datos en <br />
                conversaciones textuales con personas que padecieron el Covid-19 <br />
            </h3>
            <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <div class="single-item-carousel owl-carousel owl-theme owl-nav-none dots-style-one">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-six">
                        <div class="inner-box">
                            <div class="shape" style="background-image: url(static/images/shape/shape-51.png);"></div>
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-science"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <h3><a href="advertising-marketing.html">SARS-CoV-2 (Covid-19)</a></h3>
                            <p>Enfermedad respiratoria aguda. Con alto indice de contagio a nivel mundial</p>
                            <!--<div class="link"><a href="advertising-marketing.html">Read More</a></div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-six">
                        <div class="inner-box">
                            <div class="shape" style="background-image: url(static/images/shape/shape-51.png);"></div>
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-science"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <h3><a href="advertising-marketing.html">Inteligencia Artificial</a></h3>
                            <p>Se encarga de estudiar la simulación humana de los computadores.</p>
                            <!--<div class="link"><a href="advertising-marketing.html">Read More</a></div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-six">
                        <div class="inner-box">
                            <div class="shape" style="background-image: url(static/images/shape/shape-51.png);"></div>
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-science"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <h3><a href="advertising-marketing.html">Machine <br/> Learning</a></h3>
                            <p>Ciencia que estudia la forma en que las máquinas aprendan de manera automatizada.</p>
                            <!--<div class="link"><a href="advertising-marketing.html">Read More</a></div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 service-block">
                    <div class="service-block-six">
                        <div class="inner-box">
                            <div class="shape" style="background-image: url(static/images/shape/shape-51.png);"></div>
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-virtual-reality"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <h3><a href="advertising-marketing.html">Procesamiento del Lenguaje Natural (NLP)</a></h3>
                            <p>Campo de la IA que estudia la interacción entre las computadoras y el lenguaje humano.</p>
                            <!--<div class="link"><a href="advertising-marketing.html">Read More</a></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-style-six end -->