
  <section class="works-style-two centred bg-color-1" onload="script();">
    <div class="pattern-layer" style="background-image: url(static/images/shape/shape-13.png);"></div>
    <div style="margin-left: 8rem;margin-right: 8rem;" >
      <div class="inner-container">
        <div class="sec-title style-two">
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
          <h2 style="color: #002a7d !important">VARIABLE GÉNERO</h2>
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <div class="row clearfix align-items-center" style="margin-bottom: 2rem;" >
          <div class="col-lg-6 col-md-12 col-sm-12 content-column" id="tablasGenero"></div>
          <div class="col-lg-6 col-md-12 col-sm-12 service-block">
            <div class="service-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                        <div class="light-icon"><i class="flaticon-science"></i></div>
                        <canvas id="myChartGenero"></canvas>
                </div>
                <div class="link"><a href="advertising-marketing.html"><i class="far fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
        <div class="sec-title style-two">
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
          <h2 style="color: #002a7d !important">VARIABLE INTENSIDAD DE LOS SÍNTOMAS</h2>
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <div class="row clearfix align-items-center" style="margin-bottom: 2rem;" >
          <div class="col-lg-6 col-md-12 col-sm-12 service-block">
            <div class="service-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                        <div class="light-icon"><i class="flaticon-science"></i></div>
                        <canvas id="myChartIntensidad_Sintomas"></canvas>
                </div>
                <div class="link"><a href="advertising-marketing.html"><i class="far fa-angle-right"></i></a></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 service-block" id="tablasIntensidad_Sintomas">

          </div>
        </div>
        <div class="sec-title style-two">
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
          <h2 style="color: #002a7d !important">VARIABLE LUGAR DE CONTAGIO</h2>
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <div class="row clearfix align-items-center" style="margin-bottom: 2rem;" >
          <div class="col-lg-6 col-md-12 col-sm-12 service-block" id="tablasLugar_Contagio"></div>
          <div class="col-lg-6 col-md-12 col-sm-12 service-block">
            <div class="service-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                        <div class="light-icon"><i class="flaticon-science"></i></div>
                        <canvas id="myChartLugar_Contagio"></canvas>
                </div>
                <div class="link"><a href="advertising-marketing.html"><i class="far fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
        <div class="sec-title style-two">
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
          <h2 style="color: #002a7d !important">VARIABLE NOMBRE VACUNAS</h2>
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <div class="row clearfix align-items-center" style="margin-bottom: 2rem;" >
          <div class="col-lg-6 col-md-12 col-sm-12 service-block"  id="tablasNombre_Vacunas"></div> 
          <div class="col-lg-6 col-md-12 col-sm-12 service-block">
            <div class="service-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                        <div class="light-icon"><i class="flaticon-science"></i></div>
                        <canvas id="myChartNombre_Vacunas"></canvas>
                </div>
                <div class="link"><a href="advertising-marketing.html"><i class="far fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
        <div class="sec-title style-two">
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
          <h2 style="color: #002a7d !important">VARIABLE NÚMERO DE VACUNAS</h2>
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <div class="row clearfix align-items-center" style="margin-bottom: 2rem;" >
          <div class="col-lg-6 col-md-12 col-sm-12 service-block">
            <div class="service-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                        <div class="light-icon"><i class="flaticon-science"></i></div>
                        <canvas id="myChartNumero_Vacunas"></canvas>
                </div>
                <div class="link"><a href="advertising-marketing.html"><i class="far fa-angle-right"></i></a></div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 service-block"  id="tablasNumero_Vacunas"></div>
        </div>
        <div class="sec-title style-two">
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
          <h2 style="color: #002a7d !important">VARIABLE VARIANTE</h2>
          <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <div class="row clearfix align-items-center" style="margin-bottom: 2rem;" >
          <div class="col-lg-6 col-md-12 col-sm-12 service-block"  id="tablasVariante"></div>
          <div class="col-lg-6 col-md-12 col-sm-12 service-block">
            <div class="service-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="inner-box">
                        <div class="light-icon"><i class="flaticon-science"></i></div>
                        <canvas id="myChartVariante"></canvas>
                </div>
                <div class="link"><a href="advertising-marketing.html"><i class="far fa-angle-right"></i></a></div>
            </div>
          </div>
        </div>
      </div>      
            


     
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.0/dist/chart.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <script>
    (function () {
      var cabecera = `
        <div class="card">
          <div class="table-responsive-sm">
            <table >
              <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"><div id="margeTable" style="text-align: center;">Frecuencia</div></th>
                    <th scope="col"><div id="margeTable" style="text-align: center;">Porcentaje</div></th>
                    <th scope="col"><div id="margeTable" style="text-align: center;">Porcentaje Válido</div></th>
                    <th scope="col"><div id="margeTable" style="text-align: center;">Porcentaje Acumulado</div></th>
                  </tr>
              </thead>`
      var union;
      $.ajax({
        type:"GET", 
        url:"http://localhost:5000/estadistica",
        success:function(datos){ 
          Object.entries(datos).forEach(([key, value]) => {
            var data = datos[key].tabla;
            var html = "";
            console.log(key)
            for(var i = 0; i < data.length ; i++){
              html += `
                <tbody>
                  <tr>
                    <th><div id="margeTable">${data[i].indice}</div></th>
                    <td><div id="margeTable" style="font-size:13; text-align: center;">${data[i].Frecuencia}</div></td>
                    <td><div id="margeTable" style="font-size:13; text-align: center;">${parseFloat(data[i].Porcentaje).toFixed(2)}</div></td>
                    <td><div id="margeTable" style="font-size:13; text-align: center;">${parseFloat(data[i].Porcentaje_Valido).toFixed(2)}</div></td>
                    <td><div id="margeTable" style="font-size:13; text-align: center;">${isNaN(parseFloat(data[i].Porcentaje_Acumulado))?"":parseFloat(data[i].Porcentaje_Acumulado).toFixed(2)}</div></td>
                  </tr>
                </tbody>   
              `
            }
            var final = `</table>
                  </div>
                </div>
                `
            union =`${cabecera}${html}${final}`
            document.getElementById("tablas"+key).innerHTML = union;
            const ctx = document.getElementById('myChart'+key);
            const grafico = datos[key].grafico
            const color = randomColor(grafico.y.length)
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: grafico.x,
                    datasets: [{
                        label: key,
                        data: grafico.y,
                        backgroundColor: color,
                        borderColor: color,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

         
          });
        }
      })
    })();
    function random(number){
      return Math.floor(Math.random()*number);;
    }
    function randomColor(x){
      var color = [];
      for(var i = 0; i < x; i++){
        color.push('rgb('+random(255)+','+random(255)+','+random(255)+'0.2)')
      }
      return color;
    }
    /*estatic   
    */
    </script>
</section>

<!-- works-style-two end -->

<!-- contact-style-two end -->