<!-- testimonial-style-four -->
<section class="testimonial-style-four centred">
    <div class="auto-container">
        <div class="sec-title style-two">
            <h5>TESTIMONIO DE EXPERTOS</h5>
            <!--<h2>Keep discussions going across <br />channel whenever</h2>-->
            <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
        </div>
        <!--<div class="testimonial-content">
            <!--Client Thumbs Carousel
            <div class="client-thumb-outer">
                <div class="client-thumbs-carousel owl-carousel owl-theme">
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="assets/images/resource/testimonial-4.png" alt=""></figure>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="assets/images/resource/testimonial-5.png" alt=""></figure>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="assets/images/resource/testimonial-6.png" alt=""></figure>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="assets/images/resource/testimonial-7.png" alt=""></figure>
                    </div>
                    <div class="thumb-item">
                        <figure class="thumb-box"><img src="assets/images/resource/testimonial-8.png" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="client-testimonial-carousel owl-carousel owl-theme">
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="author">
                            <h3>Nicolas Lawson</h3>
                            <span class="designation">STO Expert Bussiness</span>
                        </div>
                        <div class="text">
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam quis nostrud exercitation.</p>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="author">
                            <h3>Nicolas Lawson</h3>
                            <span class="designation">STO Expert Bussiness</span>
                        </div>
                        <div class="text">
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam quis nostrud exercitation.</p>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="author">
                            <h3>Nicolas Lawson</h3>
                            <span class="designation">STO Expert Bussiness</span>
                        </div>
                        <div class="text">
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam quis nostrud exercitation.</p>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="author">
                            <h3>Nicolas Lawson</h3>
                            <span class="designation">STO Expert Bussiness</span>
                        </div>
                        <div class="text">
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam quis nostrud exercitation.</p>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="author">
                            <h3>Nicolas Lawson</h3>
                            <span class="designation">STO Expert Bussiness</span>
                        </div>
                        <div class="text">
                            <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua.enim ad minim veniam quis nostrud exercitation.</p>
                            <ul class="rating clearfix">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>
<!-- testimonial-style-four end -->