<!-- works-style-four -->
    <section class="works-style-four centred">
        <div class="auto-container">
            <div class="sec-title style-two">
                <h5>CICLO DE VIDA DEL MACHINE LEARNING</h5>
                <h2>Machine Learning comprende de 5 pasos los cuales son:</h2>
                <div class="divider" style="background-image: url(static/images/icons/divider-1.png);"></div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 works-block">
                    <div class="works-block-three wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="arrow" style="background-image: url(static/images/icons/arrow-1.png);"></div>
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-cloud-network"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <span class="count">01</span>
                            <h3>Recopilación de datos</h3>
                            <p>Recolección de un conjunto de datos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 works-block">
                    <div class="works-block-three wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="arrow" style="background-image: url(static/images/icons/arrow-1.png);"></div>
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-computer"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <span class="count">02</span>
                            <h3>Preparación de datos</h3>
                            <p>Tratamiento de los datos y control de calidad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 works-block">
                    <div class="works-block-three wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-circuit"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <span class="count">03</span>
                            <h3>Modelo de desarrollo</h3>
                            <p>Construcción de un modelo optimo y eficiente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 works-block">
                    <div class="works-block-three wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="arrow" style="background-image: url(static/images/icons/arrow-1.png);"></div>
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-circuit"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <span class="count">04</span>
                            <h3>Evaluación del modelo</h3>
                            <p>Prueba la seguridad y fiabilidad del modelo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 works-block">
                    <div class="works-block-three wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            
                            <div class="icon-box">
                                <div class="icon"><i class="flaticon-circuit"></i></div>
                                <div class="icon-shape" style="background-image: url(static/images/icons/bg-shape-1.png);"></div>
                            </div>
                            <span class="count">05</span>
                            <h3>Implementación del modelo</h3>
                            <p>Despliegue del sistema con resultados precisos, rápidos y aceptables.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- works-style-four end -->